body{

font-family: 'Fira Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 100px;
}
.name-highlight1{
    margin-bottom: -50px;
   font-size: 30px;
   
}

   

.name-highlight{
    color: orange;
}


.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
   padding-left: 2%;
   padding-top: 20px;

}

.half-width img{
    width: 100%;
}